extends layout.pug

block content
  ul
    li
      | [<a href="/posts/mouse-nft/index.md">html</a>] Automating NFT uploads to opensea.io
    li
      | [<a href="/posts/sparing-supermarket-spending/index.md">html</a>] Sparing Supermarket Spending
    li
      | [<a href="/posts/migrant-stock-monte-carlo/index.md">html</a>] Migrant Stock Monte Carlo
    li
      | [<a href="/posts/international-migrant-stock/index.pug">html</a>] International Migrant Stock